
<nav class="masthead">
  <img class="logo" src="assets/AA_Times_Logo.png">

    <ul class="language-nav">
      <% t = Time.new %>
      <li><%= t.strftime('%c') %></li>
      <li><a href="https://www.nytimes.com/?mcubz=0">Today’s Paper</a></li>
      <li><a href="http://www.nytimes.com/video?action=Click&module=HPMiniNav&region=TopBar&WT.nav=page&contentCollection=Video&pgtype=Homepage"></a>Video</li>
      <li><a href="https://weather.com/"></a>77°F</li>
      <li><a href="https://www.bloomberg.com/markets/stocks"></a>AAO +100%</li>
   </ul>

</nav>
