<nav class="headlinks">
  <ul>
    <li><a href="https://www.nytimes.com/section/world">World</a></li>
    <li><a href="https://www.nytimes.com/section/nyregion">New York</a></li>
    <li><a href="http://www.sfchronicle.com/">San Francisco</a></li>
    <li><a href="https://www.appacademy.io/bootcamp-prep/live">Bootcamp Prep</a></li>
    <li><a href="https://appacademy.zendesk.com/hc/en-us/articles/115001354748-What-is-JumpStart-?mobile_site=true">Jumpstart</a></li>
    <li><a href="https://www.appacademy.io/">Online</a></li>
    <li><a href="https://www.appacademy.io/immersive/course">Marketing</a></li>
    <li>Sales</li>
    <li>TalentMatch</li>
    <li>Alumni</li>
    <li>ALL</li>
  </ul>
</nav>
